body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#gameOverText {
    font-size: x-large;
    font-weight: bold;
}

#gameBoard {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 5px solid black;
    border-radius: 5px;
    flex-direction: column;
}

.boardRow {
    display: flex;
}

.boardColumn {
    display: flex;
    height: 60px;
    width: 60px;
}

.selected {
    background-color: lightgreen;
}

img {
    margin: auto;
    display: flex;
}

/* img.black, img.white {
    margin: auto;
    display: flex;
} */